name: CI Pipeline - Build, Scan & Deploy

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  docker-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch that sweet repo code
        uses: actions/checkout@v3

      - name: Fire up the Server Image
        run: docker build -f server/Dockerfile.dev -t bookstore_server:latest server
      
      - name: Fire up the Client Image
        run: docker build -f client/Dockerfile.dev -t bookstore_client:latest client
      
      - name: Fire up the Nginx Image
        run: docker build -f nginx/Dockerfile.dev -t bookstore_nginx:latest nginx

      - name: Scanning Server Image (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: bookstore_server:latest
          format: 'table'
          ignore-unfixed: true
        continue-on-error: true

      - name: Scanning Client Image (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: bookstore_client:latest
          format: 'table'
          ignore-unfixed: true
        continue-on-error: true

      - name: Scanning Nginx Image (Trivy)
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: bookstore_nginx:latest
          format: 'table'
          ignore-unfixed: true
        continue-on-error: true

      - name: Setting Up AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Logging into AWS ECR
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
        run: aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

      - name: Tag & Push Server Image
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          ECR_REPOSITORY_SERVER: ${{ secrets.ECR_REPOSITORY_SERVER }}
        run: |
          docker tag bookstore_server:latest $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY_SERVER:latest
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY_SERVER:latest

      - name: Tag & Push Client Image
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          ECR_REPOSITORY_CLIENT: ${{ secrets.ECR_REPOSITORY_CLIENT }}
        run: |
          docker tag bookstore_client:latest $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY_CLIENT:latest
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY_CLIENT:latest

      - name: Tag & Push Nginx Image
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          ECR_REPOSITORY_NGINX: ${{ secrets.ECR_REPOSITORY_NGINX }}
        run: |
          docker tag bookstore_nginx:latest $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY_NGINX:latest
          docker push $AWS_ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY_NGINX:latest
      - name: Set up SSH key
        run: |
          echo "${{ secrets.EC2_PRIVATE_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      - name: Copy docker-compose.yml to EC2
        run: |
          scp -i private_key.pem \
            -o StrictHostKeyChecking=no \
            docker-compose.yml \
            ec2-user@${{ secrets.EC2_PUBLIC_IP }}:/home/ec2-user/

      - name: Run Docker Compose on EC2
        run: |
          ssh -i private_key.pem \
            -o StrictHostKeyChecking=no \
            ec2-user@${{ secrets.EC2_PUBLIC_IP }} \
            "cd /home/ec2-user && docker-compose up -d"
